@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


.gradient-bg {
 background: #004FAC;
background: linear-gradient(90deg, rgba(0, 79, 172, 1) 0%, rgba(0, 169, 221, 1) 100%);
}

html {
  scroll-behavior: smooth;
}
@keyframes title-pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-title-pop {
  animation: title-pop 0.6s ease-out forwards;
}

.slider-enter {
          opacity: 0;
        }
        .slider-enter-active {
          opacity: 1;
          transition: opacity 1000ms;
        }
        .slider-exit {
          opacity: 1;
        }
        .slider-exit-active {
          opacity: 0;
          transition: opacity 1000ms;
        }
